/* Testimonials.css */

.testimonials {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.testimonials-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.testimonial-image-container {
  text-align: center;
}

.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial-content {
  padding: 10px;
}

.testimonial-text {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  margin-bottom: 15px;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.testimonial-title {
  font-size: 1rem;
  color: #777;
}
