* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.home,
.services,
.products,
.sign-up,
.remote-support {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.content-section {
  padding: 20px;
  text-align: center;
}
/* .services {
  background-image: url("../public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.remote-support {
  /* background-image: url("../public/images/img-9.png"); */
  background-position: cover;
  background-size: auto;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.products {
  background-image: url("../../public/images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("../../public/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.callToAction {
  background-color: #fff;
  padding: 20px;
}

.callToAction h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: bounceIn 1s ease-in-out;
}

.callToAction p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
